/*Navbar*/

.navbar{
  height: 20px;
}

.menu-bar {
    background-image: linear-gradient(-90deg,#8fbc8f ,#2f4f4f);

}

.nav-link {
    font-size: 20px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;

}
.menu-bar.navbar-toggler{
    padding-right: 26px;
    outline: none!important;
    border: none!important;

}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
}


/*Login*/
body {
    background-color:#333 !important;
    color: rgb(204, 204, 204) !important;
}

.login-form{
	padding: 50px 0;
}

.login-form form{
    background-color: rgb(37, 37, 37);
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
}

.login-form .form-name{
	text-align: center;
    font-size: 40px;
    color:#8fbc8f;
    height: 100px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 100px;
}

.login-form .item{
	border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.login-form .login-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #8fbc8f;
    border: none;
    color: white;
    margin-top: 20px;
}

.login-form .form-group a {
    color: #8fbc8f !important;
}


.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px !important;
    margin: 5px 0;
  }
  
  .btn:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  /*Slider*/
  .carousel-item{
      height: 32rem;
      background: #777;
      color: #fff;
      position: relative;

  }
  .container{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 100px;

  }
  .card{
      margin-top: 100px;
      margin-left: 20px;
      width: 300px;
      background-color: #8fbc8f;
      height: 250px;
      color: darkcyan;
      font-weight: bold;
      border: 5px,solid;
      
      
}
.card-title{
    color: black;
    
}
.btn{
    color: black;
    background:#808080 ;
    font-weight: bold;
}


 /* The sidebar menu */
 .sidenav {
    height: 100%;  /*Full-height: remove this if you want "auto" height */
    width: 200px;  /*Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #8fbc8f;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  /*Image Resize page*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 170px;
  }

  #custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 620px;
    margin-top: 50px; 
  }
  
  #custom-button:hover {
    background-color: #00b28f;
  }

  .perform{
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 62px;
    margin-top: 50px;
    width:100px

  }
  #proceed-btn:hover{
    background-color: #00b28f;

  }
  
  a{
    margin-left: 710px; 
    margin-top:auto;
    }