/*Navbar*/
.navbar{
    height: 51px;
  }
  
  .navbar-brand {
      padding: 0 15px;
      height: 20px;
      
    }
  
  
  .menu-bar {
      background-image: linear-gradient(-90deg,#8fbc8f ,#2f4f4f);
  
  }
  
  .nav-link {
      font-size: 20px;
      margin: 3px;
      color: #fff!important;
      font-weight: 500;
  
  }
  .menu-bar.navbar-toggler{
      padding-right: 26px;
      outline: none!important;
      border: none!important;
  
  }
  .nav-link:hover{
      font-weight: 600;
      border-bottom: 1px solid #fff;
  }
  
  
  
  
   /* The sidebar menu */
   .sidenav {
      height: 100%;  /*Full-height: remove this if you want "auto" height */
      width: 200px;  /*Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #111; /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 100px;
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #8fbc8f;
    }
    
    /* Style page content */
    .main {
      margin-left: 160px; /* Same as the width of the sidebar */
      padding: 0px 10px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    } 
  
/*Image Editing*/
    .center  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 300px;
        height: 170px;
        
       
      }
      #custom-button {
        padding: 10px;
        color: white;
        background-color: #009578;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 620px;
        margin-top: 50px; 
      }
      
    #custom-button:hover {
        background-color: #00b28f;
      }
    
    /*Editing Options*/
    .btn-group{
        margin-top: -200px;
        margin-left: 520px;
        background-color:#009578 ;
       
        
    }
    
    

    button:focus{
        background: black;
    }

    #gray-button {
      padding: 10px;
      color: white;
      background-color: #009578;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 600px;
      text-decoration: none;
      
      
    }

    #gray-button:hover {
      background-color: #00b28f;
      text-decoration: none;
    }


    #download-button {
      padding: 10px;
      color: white;
      background-color: #009578;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 80px;
      text-decoration: none;
    
       
    }

    #download-button:hover {
      background-color: #00b28f;
      text-decoration: none;
    }
  
  
.btns{
  margin-top: -40px;
}




    