<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editing</title>


    <!--Bootstrap css file-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!--custom css file-->
    <link rel="stylesheet" href="../static/css/styleImageEditing(filter).css">


</head>
<body style="background-color: black;">



    <!--Navbar-->
    <div class="header fixed-top">
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light ">

                <a class="navbar-brand" href="#"><img src="../static/img/logo2.jpg" alt="logo" style="margin-top: -15px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>



                  </ul>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="margin-left: 1240px;">Logout</a>
                  </li>
                </div>

            </nav>

        </div>
    </div>

    <!-- Side navigation -->
<div  class="sidenav ">
    <a style="margin-left: 0px;" href="#">Text Recognition</a><br><br>
    <a style="margin-left: 0px;" href="#">Image Editing</a><br><br>
    <a style="margin-left: 0px;" href="#">Image Resize</a><br><br>
    <a style="margin-left: 0px;" href="#">Human Recognition</a><br><br>
  </div>

  <img class="center" id="blah"  width="50" height="50" />


  <input style="padding-top:0px; margin-top: 30px; margin-left: 650px;  " class="" type="file"
  onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0]) " >

  <button  style="margin-left:650px;margin-top:26px;padding-left:18px;padding-right:18px;padding: 10px;
color: white;
      background-color: #009578;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;



      top:330px;"
           type="button" id="detect-button">Proceed</button>
    <ul class="nav nav-pills">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
      </ul>


<div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn " style="color: white;">Filter</button>
        <button type="button" class="btn " style="color: white;">Brightness</button>
        <button type="button" class="btn " style="color: white;">Blurring Effect</button>
        <button type="button" class="btn " style="color: white;">Edge Detection</button>
        <button type="button" class="btn " style="color: white;">Grayscale</button>

</div>


{% if display %}
<a style="left:250px;position:absolute;top:500px;" href="#"><img style="height:150px;width:210px;" src="../static/img/gaussian_blur1.jpg" alt="picture" ></a>
<a style="left:510px;position:absolute;top:500px" href="#"><img style="height:150px;width:210px;" src="../static/img/gaussian_blur1.jpg" alt="picture" ></a>
<a style="left:-99px;position:absolute;top:670px" href="#"><img style="height:150px;width:210px;" src="../static/img/median1.jpg" alt="picture" class="filter3"></a>
<a style="left:-160px;position:absolute;top:670px" href="#"><img style="height:150px;width:210px;" src="../static/img/bilateral1.jpg" alt="picture" class="filter4"></a>
{% endif %}

<!--    {% if display %}-->
<!--<a href="#"><img style="width:230px;display: block;" src={{averaging}} alt="picture" class="filter1 center"></a>-->
<!--<a href="#"><img style="width:230px;margin-left: 510px;display: block;" src="../static/img/gaussian_blur1.jpg" alt="picture" class="filter2"></a>-->
<!--<a href="#"><img style="width:230px;margin-left: 810px;display: block;" src="../static/img/median1.jpg" alt="picture" class="filter3"></a>-->
<!--<a href="#"><img style="width:230px;margin-left: 1100px;display: block;" src="../static/img/bilateral1.jpg" alt="picture" class="filter4"></a>-->
<!--{% endif %}-->




    <!--Jquery js file-->
    <script src="../static/js/jquery.3.6.0.js"></script>

    <!--custom js file-->
    <script src="../static/js/custom.js"></script>




    <!--Bootstrap js file-->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>