{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--Bootstrap css file-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--custom css file-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>



    <div style="margin-top: 50px;" class="login-form">
        <div>
            <form action="login" enctype="multipart/form-data" method="post" id="contactForm" novalidate="novalidate">{% csrf_token %}

                <div class="form-name">
                    <span>Sign In</i></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control item" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" type="button" class="btn btn-block login-account">Login</button>
                </div>
                <div class="form-group">
                    <a style=" margin-left: 0px;" href="#">forgot password?</a>
                </div>

            </form>
        </div>

    </div>


    <!--Jquery js file-->
    <script src="{% static 'js/jquery.3.6.0.js' %}"></script>

    <!--custom js file-->
    <script src="{% static 'js/custom.js' %}"></script>




    <!--Bootstrap js file-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>

</html>